Measure and Dataset Creation/Schema Files/ephtn-ph-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all" version="4.0">
	<xsd:include schemaLocation="https://www.cdc.gov/nceh/tracking/schemas/ephtn-core.xsd"/>
	<xsd:simpleType name="ageType">
		<xsd:annotation>
			<xsd:documentation>
      The age is captured. Cannot accept decimals.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ageGroupType">
		<xsd:annotation>
			<xsd:documentation>
            1=0-4 years ;
            2=5-9 years    ;
            3=10-14 years   ;
            4=15-19 years ;
            5=20-24 years  ;
            6=25-29 years ;
            7=30-34 years ;
            8=35-39 years ;
            9=40-44 years  ;
            10=45-49 years ;
            11=50-54 years ;
            12=55-59 years  ;
            13=60-64 years ;
            14=65-69 years ;
            15=70-74 years ;
            16=75-79 years;
            17=80-84 years ;
            18=85+ years ;
            19=Unknown  ;
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	
		<xsd:simpleType name="ageGroupTypeForSubCountyHOSP">
		<xsd:annotation>
			<xsd:documentation>
			Will be used for the subcounty ami but could be used with others also later.
            8=35-39 years ;
            9=40-44 years  ;
            10=45-49 years ;
            11=50-54 years ;
            12=55-59 years  ;
            13=60-64 years ;
            14=65-69 years ;
            15=70-74 years ;
            16=75-79 years;
            17=80-84 years ;
            18=85+ years ;
            19=Unknown  ;
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="8"/>
			<xsd:maxInclusive value="19"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="dailyEDAgeGroupType">
		<xsd:annotation>
			<xsd:documentation>
            19=Unknown  ;
            1=0 -&lt;19;
			2=19 -&lt;65;
			3=65+;
			9=all;
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="19"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="sexType">
		<xsd:annotation>
			<xsd:documentation>
                        Type: text
                        Domain: enumeration
                         </xsd:documentation>
			<xsd:documentation>
    M:Male
    F:Female
    U:Unknown
    </xsd:documentation>
			<xsd:documentation>Added value "A" to support the Carbon
      Monoxide aggregates. Might have to be changed if rules are confirmed against it's usage.
      02/07/2008 - Madhu
	Removed A on 07/25/2016
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="U"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="raceType">
		<xsd:annotation>
			<xsd:documentation>
      Race of Individuals
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="U"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ethnicityType">
		<xsd:annotation>
			<xsd:documentation>
                        Type: text
                        Domain: enumeration of values
                        This is going to be the placeholder for ethnicity
                        values Hispanic, Not Hispanic and Unknown. Used by
                        Birth Defects and Hospitalization content areas now.
                         </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NCDMstring">
			<xsd:enumeration value="H"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="U"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation>
                Type: real
                Domain: 0.0 &lt;= indicator &lt;= 100.0
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="100.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InfantSexType">
		<xsd:annotation>
			<xsd:documentation>
                        Type: text
                        Domain: enumeration
                         </xsd:documentation>
			<xsd:documentation>
    M:Male
    F:Female
    U:Unknown
    </xsd:documentation>
			<xsd:documentation>Contains only M, F and U
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="U"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:group name="fireAggregates">
		<xsd:annotation>
			<xsd:documentation>
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncidentCountFire" type="missingSixDigitDecimalOrIntType">
				<xsd:annotation>
					<xsd:documentation>
    Hospitalization: Number of unintentional FIRE related hospitalizations.
    </xsd:documentation>
					<xsd:documentation>
    Emergency Department: Number of unintentional FIRE related ED visits.
    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="unknownAggregates">
		<xsd:annotation>
			<xsd:documentation>
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncidentCountUnknown" type="missingSixDigitDecimalOrIntType">
				<xsd:annotation>
					<xsd:documentation>
    Hospitalization: Number of unintentional FIRE related hospitalizations.
    </xsd:documentation>
					<xsd:documentation>
    Emergency Department: Number of unknow cause related ED visits.
    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="nonFireAggregates">
		<xsd:annotation>
			<xsd:documentation>
              
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncidentCountNonFire" type="missingSixDigitDecimalOrIntType">
				<xsd:annotation>
					<xsd:documentation>
    Hospitalization: Number of unintentional FIRE related hospitalizations.
    </xsd:documentation>
					<xsd:documentation>
    Emergency Department: Number of non-FIRE related ED visits.
    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="raceEthnicityReportedType">
		<xsd:annotation>
			<xsd:documentation>
                Type: integer
                Domain: 1 &lt;= indicator &lt;= 3 &amp;
                Definition: Population of race and/or ethnicity fields in data
                1: Yes
                2: No
            </xsd:documentation>
			<xsd:documentation>
            Added 05/02/2008: Codeset was modified to differentiate between variable collection methods
1=yes separate
2= yes combined
3= no
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
		<xsd:simpleType name="transferExclusionType">
		<xsd:annotation>
			<xsd:documentation>
                        Type: text
                        Domain: enumeration of values
                        Exclusion of transfers from dataset.
                        1: Yes
                        2: No
                        9: Unknown
</xsd:documentation>
			<xsd:documentation>
Added 05/02/2008
9=unknown deleted since exclusion of transfers will never be unknown
                         </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[1-2]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="exclusionMethodType">
		<xsd:annotation>
			<xsd:documentation>
                        Type: text
                        Domain: enumeration of values
Variable used to identify &amp; exclude transfers from dataset
                        1: UniqueID
                        2: Source Of Admission
	                    3: Disposition
						4:Combination of variables using Transfer Protocol                        
                        9: Unknown is now Not Applicable
                         </xsd:documentation>
			<xsd:documentation>
Added 08/03/2017: EXCLUSIONMETHOD	4 Combination of variables using Transfer Protocol
Added 05/02/2008: EXCLUSIONMETHOD	9 changed to Not Applicable
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[1-4]|9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="outOfStateExclusionType">
		<xsd:annotation>
			<xsd:documentation>
                        Type: text
                        Domain: enumeration of values
Exclusion of residents admitted to hospitals located in another state
                        1: Yes
                        2: No
</xsd:documentation>
			<xsd:documentation>
Added 06/25/2012
Exclusion of residents admitted to hospitals located in another state
                         </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[1-2]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="GeoLevelType">
		<xsd:annotation>
			<xsd:documentation>Standard naming convention for geographic level of data. This variable also appears in the GEOSUBCNTY_DataDictionary.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NCDMstring">
			<xsd:pattern value="[A-Z]{2}_[S]{1}[C]{1}[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>	
	
	<xsd:simpleType name="healthOutcomeIDTypeForSubCountyHOSP">
		<xsd:annotation>
			<xsd:documentation>
                2 represents Acute Myocardial Infaraction
                Type: integer
                Domain: 2
Health outcome associated with the record (MI)

            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2"/>
			<xsd:maxInclusive value="2"/>
		</xsd:restriction>
	</xsd:simpleType>

	
</xsd:schema>
